@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --fonte-familia-titulo: 'Montserrat';
    --tamano-dos-titulos: clamp(2em, 5vw, 4em);
    --tamanho-dos-paragrafos: clamp(1em, 1.5vw, 1.2em);
    --fonte-para-paragrafos: 'Open Sans';
    --cor-paragrafos: #918D8B;
     --cor-de-funto: #EEFAE1;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/* -------- Cabeçalho --------- */
header{
    height: 610px;
    background-position: center; 
    background-size: cover;
    background-image: url(../img/capa-principal.jpg);
    width: 100%;
    position: relative;
}

/* -------- Título do cabeçalho --------- */
header > h1 {
    font-weight: bold;
    font-size: 5em;
    align-items: center;
    justify-content: center;
    margin-top: 150px; 
    text-align: center;
    color: white;
}

/* -------- Barra de navegação --------- */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 10px 50px;
    
}

 nav > a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    
} 

a:hover {
    background-color: #84aa79 ;
    border-radius: 5px;
    color: white;
}

/* -------- Títulos e parágrafos --------- */

h1{
    font-family: var(--fonte-familia-titulo);
    font-weight: 600;
    font-size: var(--tamano-dos-titulos);
    margin-bottom: 60px;
    text-align: center;
}

.paragrafo{
    line-height: 150%;
    /* margin-top: 40px; */
    font-size: var(--tamanho-dos-paragrafos);
    font-family: var(--fonte-para-paragrafos);
    color: var(--cor-paragrafos);
}

/* -------- Seção 1 --------- */
#sobre {
    padding: 70px 80px;
}

#sobre div {
    display: grid;
    grid-template-columns: 480px 1fr;
    gap: 50px;
}

/* -------- Seção 2 --------- */
#missao {
    background-color: #fbfbf4;
    align-items: center;
    padding: 90px 80px;
    
}

.containerMissao{
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 230px 230px;
    width: 505px;
    margin: 0 auto
}


.missao{
    padding: 20px;
    margin: 10px;
    /* background-color: #dadada; */
    font-family: var(--fonte-para-paragrafos);
    color: var(--cor-paragrafos);
}

.missao h3{
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}

.missao-img1{
    background-image: url(../img/folhas-biologicas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 170px; 
    background-color: rgb(119, 199, 32);
}

.missao-img2{
    background-image: url(../img/poluicao-do-ar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 170px; 
    background-color: #77C720;
}

.missao-img3{
    background-image: url(../img/deposito-de-lixo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 170px; 
    background-color: #77C720;
}

/* -------- Seção 3 --------- */
#atendimento {
    background-image: url(../img/fundoVerde.jpg);
    height: 470px;
    padding: 50px 80px;
    color: #ffffff;
}

#atendimento p {
    text-align: center;
    font-size: 30px;
    padding: 0px 15px 35px 15px;
    margin-bottom: 90px;
    font-family: var(--fonte-para-paragrafos);
}

#atendimento a {
    font-family: var(--fonte-para-paragrafos);
    font-weight: 600;
    background-color: #77C720;
    color: #ffffff;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
    text-decoration: none;
    margin: 46px 500px 0px 500px;
}

/* -------- Seção 4 --------- */
#localizacao{
    height: 400px;
}

/*Organização do formulário*/

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 70px;
    font-family: var(--fonte-para-paragrafos);
}

.contatos > div{
    margin: 45px 5px 80px 5px;
}

.contatos{
    padding-left: 70px;
}

.subtitulo{
    font-size: 1.5em;
    padding: 2px;
    text-align: center;
    font-family: var(--fonte-para-paragrafos);
    color: var(--cor-paragrafos);
}

#info-contatos{
    padding: 60px 65px;
}

.content {
width: 500px;
/* margin: 0 auto; */
border-radius: 15px;
}

form {
padding: 30px;
}



.container {
padding: 30px;

}

input[type=text], input[type=tel], input[type=email] {
width: 100%;
padding: 20px;
margin: 5px 0 22px 0;
border: 1px solid rgba(0, 0, 0, 0.274);
border-radius: 5px;
font-size: 16px;
}

#msg {
 display: block;
 height: 100px;
 width: 100%;
 padding: 10px;
 margin: 5px 0 22px 0;
 border: 1px solid rgba(0, 0, 0, 0.274);
 border-radius: 5px;
}

/* label {
    margin: 2px;
} */

.button {
    background-color:#77C720;
    color: white;
    padding: 16px 20px;
    margin: 34px 0;
    border: none;
    border-radius: 5px;
    width: 33%;
    font-weight: bold;
    font-size: 1em;
  }
  
  .button:hover{
    opacity: 1;
  }

  /*rodapé*/
footer{
    font-family: var(--fonte-para-paragrafos);
    background-color: #024B36;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsividade da Seção 1 */
@media screen and (max-width: 768px) {
    #sobre div{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 240px;
    
    img{
        height: 230px;
    }
    }

    #missao{
        padding: 50px;

        .containerMissao {
            grid-template-columns: repeat(2, 250px);
            width: 100%;

        }
    }

    .grid-container{
        grid-template-columns: 1fr;
    }

}

/* Responsividade da Seção 1 */
/* @media screen and (max-) {
    
} */